*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# python
.venv/
__pycache__/
*.pyc

# data artifacts
data/glove.6B*
data/glove.twitter*
data/*.zip
data/glove*_*.npy
data/glove*_*.f32
data/glove*_*.shape
data/glove*_*_words.txt
data/glove*_*_meta.json
data/nn_*.png

#configs
.claude/
.cache/
.vscode/
cpp/kd_tree
